body{
    margin:0;
    background: black;
}



#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70vh; /*brings to the center of the page */
}

#buttons button{
    padding: 10px 15px;
}

#container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#replayArea{
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}